#websitetitle{
    font-size: 64px;
    color: red;
    font-weight: 100;
}
.Textcolor {
    font-weight: 100;
}
#first {
    display: inline-block;
}
#third{
    font-size: 16px;
}

.big{
    font-size: 32px;
}
.container{
    background-color: lightcyan;
    display: inline-block;
    border: 2px black solid;
    padding:  5px 10px;
    margin: 8px;
    width: 1000px;
}
#subheading{
    display: inline-block;
    padding: 0px 5px;
    border: 2px black solid;
    background-color: silver;
}
